<mat-card class="login">
<h2 style="text-align: center">¿Quieres convertirte en Socio?
  </h2>
<h4>Regístrate para que disfrutes de todos sus beneficios.
</h4>
        <form [formGroup]="formGroupRegistro" autocomplete="off" (submit)="registrar()" class="formLogin">
    <mat-form-field>
      <input matInput placeholder="Nit" formControlName="nit" maxlength="500">
      <mat-error *ngIf="formGroupRegistro.get('nit').hasError('required')">
        Campo requerido</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Nombre empresa" formControlName="empresa" maxlength="500">
      <mat-error *ngIf="formGroupRegistro.get('empresa').hasError('required')">
        Campo requerido</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Email (digite un correo)" formControlName="email" maxlength="500">
      <mat-error *ngIf="formGroupRegistro.get('email').hasError('required')">
        Campo requerido</mat-error>
        <mat-error *ngIf="formGroupRegistro.get('email').hasError('email')">
            Correo electronico invalido</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input type="password" matInput placeholder="Contraseña" formControlName="password" maxlength="500">
      <mat-error *ngIf="formGroupRegistro.get('password').hasError('required')">
        Campo requerido</mat-error>
    </mat-form-field>
    <br>
    <br>
    <button type="submit"  mat-raised-button style="background: #f28f23;">Registrarme</button>
    </form>
    </mat-card>